.navbar{
  margin-bottom: 0;
}

.jumbotron{
  background-image: url("../images/bg.jpg");
  background-size:cover;
  background-position: center;
  height: 25em;
}

#piano-strings {
  display: none;
}


.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}


#play-button{
  margin-top:1em;
  margin-bottom: 1em;
}

#fillerText{
  margin-bottom: 2em;
}
